.cloud/*
.storage/*
custom_components/*
deps/*
panels/*
tmp/*
tts/*
www/*
zwave/*
.HA_VERSION
secrets.yaml
plex.conf
options.xml
pyozw.sqlite
#ui-lovelace.txt
OZW_Log.txt
html5_push_registrations.conf
home-assistant_v2.db-wal
home-assistant_v2.db-shm
home-assistant_v2.db
home-assistant.log
.uuid
.ios.conf
.homekit.state
.DS_Store
#ui-lovelace.txt
#ui-lovelace.txt
